@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

This page (Template Hello World ASP.NET Blazor Server Interactive project) reproduce that this site Break if LastPass 4.129.0 is installed as Extension (In Chrome). Error are show bottom of page and in Developer Console while extension is active and not shown if extension is disabled or a lower version is used.
<br/><br/>
Hope This can be fix 🙌
<br/><br/>
Sourcecode for this page: <a href="https://github.com/rwjdk/BrokenLastPass" target="_blank">https://github.com/rwjdk/BrokenLastPass</a>
<br />
<br />
MS Reported <a href="https://github.com/dotnet/aspnetcore/issues/55085" target="_blank">GitHub Issue</a>


